@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'MangoRegular';
  src: url('../src/assets/fonts/MangoDdobak-R\(ttf\).ttf');
}

@font-face {
  font-family: 'MangoBold';
  src: url('../src/assets/fonts/MangoDdobak-B\(ttf\).ttf');
}

@font-face {
  font-family: 'MangoLight';
  src: url('../src/assets/fonts/MangoDdobak-L\(ttf\).ttf');
}

body {
  @apply font-sans;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  @apply font-bold;
}

.light {
  @apply font-light;
}